<footer class="footer">
  <div class="footer-container">
    <div class="social-links">
      <!-- GitHub -->
      <a href="https://github.com/vicenzofms" target="_blank" aria-label="GitHub">
        <svg viewBox="0 0 24 24" class="icon">
          <path
            fill="currentColor"
            d="M12 .5A12 12 0 0 0 0 12.6c0 5.4 3.4 10 8.2 11.6.6.1.8-.3.8-.6v-2.3c-3.3.7-4-1.6-4-1.6-.5-1.4-1.3-1.8-1.3-1.8-1.1-.8.1-.8.1-.8 1.2.1 1.9 1.3 1.9 1.3 1.1 2 3 1.4 3.7 1.1.1-.8.4-1.4.8-1.7-2.7-.3-5.5-1.4-5.5-6a4.6 4.6 0 0 1 1.2-3.2 4.3 4.3 0 0 1 .1-3.2s1-.3 3.3 1.2a11 11 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2a4.3 4.3 0 0 1 .1 3.2 4.6 4.6 0 0 1 1.2 3.2c0 4.7-2.8 5.7-5.5 6 .4.3.8 1 .8 2.1v3.1c0 .3.2.7.8.6A12.1 12.1 0 0 0 24 12.6 12 12 0 0 0 12 .5z"
          />
        </svg>
      </a>

      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/in/vicenzo-fonseca/" target="_blank" aria-label="LinkedIn">
        <svg viewBox="0 0 24 24" class="icon">
          <path
            fill="currentColor"
            d="M4.98 3.5C4.98 5 3.87 6 2.49 6S0 5 0 3.5 1.11 1 2.49 1s2.49 1 2.49 2.5zM.5 8h4v15h-4V8zm7 0h3.8v2h.1c.5-.9 1.9-2.1 4-2.1 4.3 0 5.1 2.8 5.1 6.4V23h-4v-7.5c0-1.8 0-4-2.4-4s-2.8 1.9-2.8 3.9V23h-4V8z"
          />
        </svg>
      </a>
    </div>

    <p>© {{ year }} {{ tSer.translate('footerNome') }}</p>
  </div>
  <!--
   <button
    class="scroll-top"
    *ngIf="showButton"
    (click)="scrollToTop()"
    aria-label="Voltar ao topo"

    ↑
  </button>
  -->
</footer>
