<header
  class="dark:bg-darkBg bg-white shadow-lg shadow-primary-500/40 font-semibold lg:px-40 lg:py-3 flex lg:gap-6 justify-end lg:rounded-b-3xl sticky top-0 px-4"
>
  <div class="mr-auto flex gap-1 items-center">
    <button
      type="button"
      (click)="toggleTheme()"
      class="cursor-pointer text-2xl flex justify-center transition-all items-center w-10 h-10 hover:shadow-[0_0_12px_var(--color-primary-500)] rounded-full"
    >
      <ng-icon [name]="theme === 'dark' ? 'heroSunSolid' : 'heroMoonSolid'"></ng-icon>
    </button>
    <a
      routerLink=""
      class="hover:text-primary-600 dark:hover:text-primary-500 hover:shadow-[inset_0_-2px_0_0_var(--color-primary-500)] p-2 transition-all delay-75 hidden lg:flex"
    >
      <ng-icon name="heroHomeSolid"></ng-icon> Home</a
    >
  </div>
  <a
    href="#sobre"
    class="hover:text-primary-600 dark:hover:text-primary-500 hover:shadow-[inset_0_-2px_0_0_var(--color-primary-500)] p-2 transition-all delay-75 hidden lg:flex"
  >
    <ng-icon name="heroUserSolid"></ng-icon> {{ tSer.translate('abaSobreMim') }}</a
  >
  <a
    href="#projetos"
    class="hover:text-primary-600 dark:hover:text-primary-500 hover:shadow-[inset_0_-2px_0_0_var(--color-primary-500)] p-2 transition-all delay-75 hidden lg:flex"
  >
    <ng-icon name="heroFolderSolid"></ng-icon> {{ tSer.translate('abaProjetos') }}</a
  >
  <a
    routerLink="/contato"
    class="hover:text-primary-600 dark:hover:text-primary-500 hover:shadow-[inset_0_-2px_0_0_var(--color-primary-500)] p-2 transition-all delay-75 hidden lg:flex"
  >
    <ng-icon name="heroChatBubbleLeftRightSolid"></ng-icon> {{ tSer.translate('abaContato') }}</a
  >

  <button
    type="button"
    (click)="changeLanguage()"
    class="cursor-pointer flex gap-2 px-4 justify-center transition-all items-center h-10 hover:shadow-[0_0_12px_var(--color-primary-500)] rounded-full"
  >
    <ng-icon name="heroLanguageSolid" class="text-2xl"></ng-icon>
    <span class="text-sm">{{ tSer.currentLanguage.toUpperCase() }}</span>
  </button>
  <button type="button" class="p-3 text-3xl lg:hidden">
    <ng-icon name="heroBars3Solid"></ng-icon>
  </button>
</header>
