<h1
  class="md:py-10 xl:px-42 md:px-20 px-4 py-5 flex flex-col items-center md:items-start text-4xl font-bold pb-6 text-center md:text-start"
>
  {{ tSer.translate('experiencia') }}
</h1>

<div class="carousel-wrapper">
  <button
    class="nav left dark:bg-darkNeutral dark:text-darkBgText bg-neutral text-lightBgText"
    onclick="document.getElementById('carousel').scrollBy({ left: -400, behavior: 'smooth' })"
  >
    &#10094;
  </button>
  <div class="carousel" id="carousel">
    <div class="card dark:bg-darkNeutral bg-white text-lightBgText dark:text-darkBgText">
      <img src="https://miro.medium.com/1*Kj8Eq401fP2ecTY8r9B89Q.png" alt="" />
      <h3>Primeira Experiência</h3>
      <span>2018</span>
      <p>Descrição simples e provisória.</p>
    </div>

    <div class="card dark:bg-darkNeutral bg-white text-lightBgText dark:text-darkBgText">
      <img src="https://miro.medium.com/1*Kj8Eq401fP2ecTY8r9B89Q.png" alt="" />
      <h3>Segunda Experiência</h3>
      <span>2019</span>
      <p>Descrição simples e provisória.</p>
    </div>

    <div class="card dark:bg-darkNeutral bg-white text-lightBgText dark:text-darkBgText">
      <img src="https://miro.medium.com/1*Kj8Eq401fP2ecTY8r9B89Q.png" alt="" />
      <h3>Terceira Experiência</h3>
      <span>2020</span>
      <p>Descrição simples e provisória.</p>
    </div>

    <div class="card dark:bg-darkNeutral bg-white text-lightBgText dark:text-darkBgText">
      <img src="https://miro.medium.com/1*Kj8Eq401fP2ecTY8r9B89Q.png" alt="" />
      <h3>Quarta Experiência</h3>
      <span>2021</span>
      <p>Descrição simples e provisória.</p>
    </div>

    <div class="card dark:bg-darkNeutral bg-white text-lightBgText dark:text-darkBgText">
      <img src="https://miro.medium.com/1*Kj8Eq401fP2ecTY8r9B89Q.png" alt="" />
      <h3>Quinta Experiência</h3>
      <span>2022</span>
      <p>Descrição simples e provisória.</p>
    </div>

    <div class="card dark:bg-darkNeutral bg-white text-lightBgText dark:text-darkBgText">
      <img src="https://miro.medium.com/1*Kj8Eq401fP2ecTY8r9B89Q.png" alt="" />
      <h3>Sexta Experiência</h3>
      <span>2023</span>
      <p>Descrição simples e provisória.</p>
    </div>
  </div>

  <button
    class="nav right dark:bg-darkNeutral dark:text-darkBgText bg-neutral text-lightBgText"
    onclick="document.getElementById('carousel').scrollBy({ left: 400, behavior: 'smooth' })"
  >
    &#10095;
  </button>
</div>
