<div class="md:py-20 xl:px-42 md:px-20 px-4 py-5 flex flex-col items-center md:items-start">
  <h1 class="text-4xl font-bold pb-6 text-center md:text-start">
    {{ tSer.translate('projetosParticipados') }}
  </h1>
  <div class="grid-container lg:max-w-300 xl:mx-auto">
    <app-projeto-card
      githubLink="https://github.com/ng-icons/ng-icons"
      suptitle="subtitulozin"
      title="Projeto top top"
      class="lg:[grid-area:proj1]"
    >
      fksaldjflkj ajsd jsdfjjafsjdfklj salkjfjsafjk fjsfkjalksfjsaj
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/ng-icons/ng-icons"
      suptitle="subtitulozin"
      title="Projeto top top"
      class="lg:[grid-area:proj2]"
    >
      fksaldjflkj ajsd jsdfjjafsjdfklj salkjfjsafjk fjsfkjalksfjsaj
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/ng-icons/ng-icons"
      suptitle="subtitulozin"
      title="Projeto top top"
      class="lg:[grid-area:proj3]"
    >
      fksaldjflkj ajsd jsdfjjafsjdfklj salkjfjsafjk fjsfkjalksfjsaj
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/ng-icons/ng-icons"
      suptitle="subtitulozin"
      title="Projeto top top"
      class="lg:[grid-area:proj4]"
    >
      fksaldjflkj ajsd jsdfjjafsjdfklj salkjfjsafjk fjsfkjalksfjsaj
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/ng-icons/ng-icons"
      suptitle="subtitulozin"
      title="Projeto top top"
      class="lg:[grid-area:proj5]"
    >
      fksaldjflkj ajsd jsdfjjafsjdfklj salkjfjsafjk fjsfkjalksfjsaj
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/ng-icons/ng-icons"
      suptitle="subtitulozin"
      title="Projeto top top"
      class="lg:[grid-area:proj6]"
    >
      fksaldjflkj ajsd jsdfjjafsjdfklj salkjfjsafjk fjsfkjalksfjsaj
    </app-projeto-card>
  </div>
</div>
