<div class="md:p-36 p-8 flex md:flex-row flex-col justify-center items-center gap-20">
  <div class="flex flex-col gap-4 justify-center">
    <h1 class="font-bold text-5xl">{{ tSer.translate('tituloOla') }}</h1>
    <h2 class="font-bold text-4xl overflow-visible lg:text-nowrap">
      {{ tSer.translate('euSou') }}
      <span class="font-fira neon-text inline-block hover:scale-105 hover:px-6 transition-all">{{
        '< Vicenzo Fonseca />'
      }}</span>
    </h2>
    <p class="font-semibold leading-[1.5] text-xl pt-8 max-w-[600px]">
      {{ tSer.translate('pApresentacao1') }}
      <span class="neon-text">{{ tSer.translate('engSoftware') }}</span>
      {{ tSer.translate('pApresentacao2') }}
      <span class="neon-text-secondary font-fira">Angular</span> {{ tSer.translate('e') }}
      <span class="neon-text-secondary font-fira">Firebase</span>
    </p>
  </div>
  <div class="">
    <img
      class="w-72 border-primary-500 shadow-[0_0_60px_var(--color-primary-500)] rounded-md shadow-primary-500/50"
      src="https://instagram.fplu33-1.fna.fbcdn.net/v/t51.82787-15/627530539_18109645726747632_3777112050538113462_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=103&ig_cache_key=MzgyNzMwOTAyMjk1ODE2MjY3NA%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEwMjR4MTM2NS5zZHIuQzMifQ%3D%3D&_nc_ohc=IITGh6QQAMwQ7kNvwG7Opjz&_nc_oc=Adlwj1FeEtKBmWEuA7ab2CeQPq0XixaWOl0rCfo-WJOY0s7Bkfrnile-FrqfMOSt6xo4k3foo7WrA1PVcn1AoDKU&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=instagram.fplu33-1.fna&_nc_gid=7hljocgwrMnzwdRVgePCvw&oh=00_AfsdaoiUGBr0hp2CUcRJjjfFka9K8kDuAhH66rgK3cpRSQ&oe=69A18801"
      alt=""
    />
  </div>
</div>
<div class="md:py-6 md:px-42 dark:bg-darkBg bg-lightBg flex flex-col items-center">
  <h1 class="text-4xl font-bold text-center neon-text py-5">
    {{ tSer.translate('tecnologiasUsadas') }}
  </h1>
  <div class="py-5 w-full carouselTecnologias flex sm:justify-center">
    <div
      class="grupoTecnologias sm:flex sm:justify-center sm:items-center sm:w-full sm:max-w-[1200px] sm:gap-2 sm:flex-wrap"
    >
      <app-chip iconName="diAngularPlain" text="Angular"></app-chip>
      <app-chip iconName="diFirebasePlain" text="Firebase"></app-chip>
      <app-chip iconName="diTypescriptPlain" text="Typescript"></app-chip>
      <app-chip iconName="diJavascriptPlain" text="Javascript"></app-chip>
      <app-chip iconName="diTailwindcssOriginal" text="Tailwind"></app-chip>
      <app-chip iconName="diCss3Plain" text="CSS"></app-chip>
      <app-chip iconName="diHtml5Plain" text="HTML"></app-chip>
      <app-chip iconName="ionLogoElectron" text="Electron"></app-chip>
      <app-chip iconName="ionLogoIonic" text="Ionic"></app-chip>
      <app-chip iconName="diJavaPlain" text="Java"></app-chip>
      <app-chip iconName="diCplusplusPlain" text="C++"></app-chip>
    </div>
    <div class="grupoTecnologias sm:hidden" aria-hidden>
      <app-chip iconName="diAngularPlain" text="Angular"></app-chip>
      <app-chip iconName="diFirebasePlain" text="Firebase"></app-chip>
      <app-chip iconName="diTypescriptPlain" text="Typescript"></app-chip>
      <app-chip iconName="diJavascriptPlain" text="Javascript"></app-chip>
      <app-chip iconName="diTailwindcssOriginal" text="Tailwind"></app-chip>
      <app-chip iconName="diCss3Plain" text="CSS"></app-chip>
      <app-chip iconName="diHtml5Plain" text="HTML"></app-chip>
      <app-chip iconName="ionLogoElectron" text="Electron"></app-chip>
      <app-chip iconName="ionLogoIonic" text="Ionic"></app-chip>
      <app-chip iconName="diJavaPlain" text="Java"></app-chip>
      <app-chip iconName="diCplusplusPlain" text="C++"></app-chip>
    </div>
  </div>
</div>
