<div class="md:p-42 p-8 flex md:flex-row flex-col justify-center items-center gap-20">
  <div class="flex flex-col gap-4 justify-center">
    <h1 class="font-bold text-5xl">Olá, seja bem vindo!</h1>
    <h2 class="font-bold text-4xl">
      Eu sou
      <span class="font-fira neon-text">{{ '< Vicenzo Fonseca />' }}</span>
    </h2>
    <p class="font-semibold leading-[1.5] text-xl pt-8 max-w-[600px]">
      Tenho 19 anos, sou estudante de
      <span class="neon-text">Engenharia de Software</span> na PUC Minas. Comecei a programar há 8
      anos e desde então tive contato com diversas tecnologias, principalmente
      <span class="neon-text-secondary font-fira">Angular</span> e
      <span class="neon-text-secondary font-fira">Firebase</span>
    </p>
  </div>
  <div class="">
    <img
      class="w-72 border-primary-500 shadow-[0_0_60px_var(--color-primary-500)] rounded-md shadow-primary-500/50"
      src="https://instagram.fplu33-1.fna.fbcdn.net/v/t51.82787-15/627530539_18109645726747632_3777112050538113462_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=103&ig_cache_key=MzgyNzMwOTAyMjk1ODE2MjY3NA%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEwMjR4MTM2NS5zZHIuQzMifQ%3D%3D&_nc_ohc=IITGh6QQAMwQ7kNvwG7Opjz&_nc_oc=Adlwj1FeEtKBmWEuA7ab2CeQPq0XixaWOl0rCfo-WJOY0s7Bkfrnile-FrqfMOSt6xo4k3foo7WrA1PVcn1AoDKU&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=instagram.fplu33-1.fna&_nc_gid=7hljocgwrMnzwdRVgePCvw&oh=00_AfsdaoiUGBr0hp2CUcRJjjfFka9K8kDuAhH66rgK3cpRSQ&oe=69A18801"
      alt=""
    />
  </div>
</div>
